.container{
    border: solid 4px;
    width: 500px;
    height: 400px;
    position: relative;
    left: 330px;
    top: 00px;
    background-color: blanchedalmond;
}
.container .form {
    position: relative;
    left: 150px;
}
h1{
    color: blue;
    text-align: center;
    font-size: 50px;

}
#hell {
position: relative;
left: 150px;
}