
* {
    background-color: rosybrown;
}
.container {
   
   
    position: relative;
   bottom: 40px;
    text-align: center;
    
}
.a {
    position: relative;
    left: 690px;
    bottom: 20px;
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #2196f3;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
         overflow: hidden;
         transition: 0.2s ;
    }
    .a:hover {
        color: #255784;
        background: red;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,  0 0 80px #2196f3; 
    
    
}